@import "reset.css";

.hidden{
    display: none;
}
h2{
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
}
.timetogo_form{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.timetogo_input1{
    border: none;
    border-bottom: 1px solid black;
    margin-right: 5px;
}
.timetogo_input1::placeholder{
 text-align: center;
}
.timetogo_input2{
    border: none;
    border-bottom: 1px solid black;
}
.timetogo_input2::placeholder{
    text-align: center;
}
.timetogo_form button{
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}
h1{display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 40px;
    color:rgba(0, 0, 0, 0.7);
}
h3{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 30px;
}
h3 span{
    font-size: 30px;
    font-weight: 600;
    animation: show 1.5s ease-in-out infinite;
}
@keyframes show {
    0%{
opacity: 1;
    }
    50%{
opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.todo{
display: flex;
margin-top: 20px;
}
.todo input{
    margin-top: 60px;
    border: none;
    border:1px solid tomato;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    text-align: center;
   
}
.todo input::placeholder{
    color: black
}
ul{
    margin-top: 30px;
}
ul li{
    margin: 10px 0 0 10px;

}
li button{
    border: none;
    background-color: white;
}
.moneyday{
    display: flex;
    justify-content: end;
    margin-right: 30px;
    margin-top: -46px;

}
.moneyday input{
    font-size: 20px;
    padding: 10px;
    text-align: center;
    border: 1px solid tomato;
    border-radius: 10px;
}
.moneyday input::placeholder{
    color: black;
}
h4{
    display: flex;
    justify-content: end;
    margin-right: 30px;
    margin-top: 20px;
    font-size: 30px;
}
.banner{
    margin-top: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

}
a img{
  width: 60px;
  height: 60px;
}